<%- include('partials/header'); %>
 <!-- BREADCRUMB -->

 <section class="breadcrumb-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">HOME</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                ABOUT US
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- BREADCRUMB -->

  <!-- ABOUT US CONTENT -->
  <section class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h5 class="text-center">OUR HISTORY</h5>
          <h2 class="text-center">Ger's Garage Repairing</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa
            libero optio vel eos mollitia, quibusdam obcaecati placeat
            suscipit nostrum tempore, atque facere eligendi. Autem unde ab
            deserunt sed ut nam facere modi quos nemo optio expedita quidem,
            iure incidunt, magni qui rem aliquid ratione dolores. Fugiat, vel
            placeat! Totam, illo!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Laboriosam voluptatem error alias necessitatibus vel soluta,
            consequatur eligendi, veritatis facilis dolor iusto quam nemo,
            accusantium velit.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
            doloremque blanditiis iusto, ipsa debitis odit consequatur
            reiciendis laudantium provident dolor molestias saepe, quos labore
            nemo earum reprehenderit, ut placeat hic enim consequuntur!
            Voluptas tempora doloribus ullam veniam sint eum? Pariatur
            delectus dolorum, in sapiente dolore velit ipsum sit, facere
            architecto explicabo, aliquid tempore eum at sint id numquam
            voluptates consequatur quos nobis provident esse maiores laborum?
            Minima totam animi veniam natus ad quibusdam temporibus
            consequatur?
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- ABOUT US CONTENT -->

  <%- include('partials/footer'); %>

