<%- include('partials/header'); %>
<!-- CAROUSEL SECTION  -->
<section class="carousel-sec">
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/images/hero image.jpg"
          class="d-block w-100"
          alt="hero image"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Welcome To Ger's Garage</h5>
          <p>Your vehicle's fixing partner always at service</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- CAROUSEL SECTION  -->

<!-- ABOUT US  -->
<section class="about-us">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-8">
        <h3>HAVE A SPECIAL DISCOUNT</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Voluptatum tempore labore eum ratione? Voluptas eum sunt cum
          pariatur assumenda quos obcaecati excepturi aut labore tempora
          reprehenderit asperiores dignissimos et nostrum atque delectus
          vitae quis dolorem, totam amet odio adipisci non, quo error?
          Nostrum asperiores blanditiis fugit. Enim facilis totam veniam?
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus
          tenetur dolore quidem ratione, cumque saepe possimus voluptas,
          consequatur quibusdam repellat, distinctio aperiam nam magni rerum
          odio natus cum omnis debitis consequuntur amet veniam soluta quam
          at. Veritatis, non excepturi. Numquam, ipsa. Dicta unde illum nemo
          aperiam aspernatur neque nostrum saepe!
        </p>
      </div>
      <div class="col-md-4">
        <img
          src="assets/images/about-us.png"
          class="w-100"
          alt="about us"
        />
      </div>
    </div>
  </div>
</section>
<!-- ABOUT US  -->

<!-- OUR SERVICES -->
<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img
            src="assets/images/service-01.jpg"
            class="card-img-top"
            alt="services 01"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Repair</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="assets/images/service-02.jpg"
            class="card-img-top"
            alt="services 02"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Professional Staff</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="assets/images/service-03.jpg"
            class="card-img-top"
            alt="services 03"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Affordable</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up
              the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer'); %>
