@media(max-width: 767px) {

    .navbar-collapse {
        margin-top: 30px;
    }

    .navbar-nav .nav-link {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }

    .navbar-nav .nav-item .btn-danger {
        width: 100%;
        margin-bottom: 15px;
    }
}